################################################################################
# heater, bed
################################################################################

[heater_bed]
heater_pin: PA3
sensor_pin: PF3
sensor_type: EPCOS 100K B57560G104F
control: pid
min_temp: 0
max_temp: 130
pid_Kp: 59.845
pid_Ki: 3.000
pid_Kd: 298.477